body{
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
}

#login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-btn{
    color: black;
    background-color: #1DB954;
    border-radius: 80px;
    text-decoration: none;
    cursor: pointer;
    padding: 1.1rem;
    font-family: sans-serif;
    font-size: 2rem;
    transition: all 0.4s ease;
}

.login-btn:hover{
    background-color: #167237;
}

.video-container{
    overflow: hidden;
    margin: 0;
    padding: 0;
    outline: none;
}

#music-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0;
    outline: none;
    border: 0;
}