@font-face {
    font-family: "Poppins";
    src: url('font/Poppins/Poppins-Regular.ttf');
}

a {
    -webkit-tap-highlight-color: transparent;
}

body{
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
    font-family: "Poppins", sans-serif;
}

#login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-btn{
    color: black;
    background-color: #1DB954;
    border-radius: 80px;
    text-decoration: none;
    cursor: pointer;
    padding: 1.1rem;
    font-size: 1.8rem;
    transition: all 0.4s ease;
    outline: none;
    border: none;
}

.login-btn:focus {
    outline: none;
}

.login-btn:active {
    outline: none;
    border: none;
}

.login-btn:hover{
    background-color: #167237;
}

.video-container{
    overflow: hidden;
    margin: 0;
    padding: 0;
    outline: none;
}

#music-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0;
    outline: none;
    border: 0;
}

@media only screen and (max-width: 770px) {
    .login-btn {
        font-size: 1rem;
        padding: 0.8rem;
    }
}

@media only screen and (max-width: 470px) {
    .login-btn {
        font-size: 0.6rem;
        padding: 0.6rem;
    }
}

@media only screen and (max-width: 315px) {
    .login-btn {
        font-size: 0.4rem;
        padding: 0.4rem;
    }
}